body {
    font-family: 'Poppins', sans-serif;
}

.sub-text{
    padding:  1rem 0rem;
    font-size: 15px;
color: hsl(227, 12%, 61%)
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0rem;
    flex-wrap: wrap;
}
.header .links a:hover{
 opacity: 0.85;
}

.header .links a{
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    font-weight: 600;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.main-button{
    border-radius: 50px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    font-size: 15px;
    width: fit-content;
    
   
    background-color: hsl(12, 88%, 59%);
    box-shadow: 0px 18px 21px -11px rgba(0,0,0,0.37);
-webkit-box-shadow: 0px 18px 21px -11px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 18px 21px -11px rgba(0,0,0,0.37);
    
}
.main-button:hover{
    color: #fff;
    opacity: 0.85;

}
.hero-details{

    height: 100%;
    display: flex;
    justify-content: center;
   flex-flow: column;
 

}
.hero-section{
    padding: 2rem 0rem;
}
  
.hero-details h1{
    font-weight: 700;
    font-size: 3.5rem;
    color: hsl(233, 12%, 13%);
}
.hero-details p{
    padding:  1rem 0rem;
    font-size: 17px;
color: hsl(227, 12%, 61%)
}
.pattern-image-one{
    position: absolute;
    z-index: -1;
    right: -170px;
    top:-190px;
}
.header-hero-wrapper{
    position: relative;
    overflow: hidden;
}

.about{
    padding: 2.5rem 0rem;
}

.about-details h2{
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(233, 12%, 13%);
}

.extra-details .single-details{
    display: flex;
    margin-bottom: 1.5rem;
}

.single-details .number{
    
    background-color: hsl(12, 88%, 59%);
    border-radius: 50px;
    height: fit-content;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
  
    
}

.single-details .details{
    padding: 0rem 1.5rem;
   
}
.single-details .details h5{
    font-weight: 700;
}
.pattern-image-two{
    position: absolute;
    z-index: -1;
    left:-450px;
    bottom:-450px;
}
.about-wrapper{
    position: relative;
}

.item .testimonial img{
  width: 90px ;
  margin: 0 auto;
  margin-bottom: -40px;

}
.testimonial .details{
    padding: 1rem;
    background: #f1efef;
    padding-top: 5rem;
    z-index: -1;
}
.testimonial{
    text-align: center;
   
}
.testimonials{
    text-align: center;
}

.testimonials h2{
    margin: 5rem 0;
    font-weight: 700;
}
.button-wrapper{
    padding: 4.5rem 0;
}
.testimonials .details h5{
    font-weight: 700;
}
.get-started-section{
    background-color: hsl(12, 88%, 59%);
    padding: 1rem 0rem;
    position: relative;
    overflow: hidden;
  

}


.main-button-white{
    border-radius: 50px;
    color: hsl(12, 88%, 59%);
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    font-size: 15px;
    width: fit-content;
    background-color: #fff;
    box-shadow: 0px 18px 21px -11px rgba(0,0,0,0.37);
-webkit-box-shadow: 0px 18px 21px -11px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 18px 21px -11px rgba(0,0,0,0.37);
    
}
.main-button-white:hover{
    color: hsl(12, 88%, 59%);
    opacity: 0.85;

}
.get-started-section h2{
    font-weight: 700;
    color: #fff;
}
.get-started-section .button-wrapper{
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.get-started-section .pattern-image-three{
    position: absolute;
    opacity: 0.1;
    top: -110px;

    
 
}
.get-started-section .pattern-image-four{
    position: absolute;
    right: -640px;
    opacity: 0.1;
    top: -600px;
}
.footer{
    background: #212121;
    padding: 3.5rem 0rem;

}
.footer .logo-image{
    filter: invert(100%) contrast(10);
    padding: 1rem 0rem;

}
.social-links a{
    margin: 0 0.25rem;

}
.nav-links{


    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;

}
.nav-links a{
    text-decoration: none;
    text-transform: capitalize;
    color: #ccc;
    font-weight: 600;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.5rem;
   
}

input {
    background: white;
    border-radius: 50px;
    padding: 0.55rem;
    border: none;
    outline: none;
}
form{
    
    display: flex;
    ;
    padding: 1rem 0rem;

}
.credits-wrapper-2{
   
    color: #fff;
    font-size: small;
    text-align: center;
  
}
div ul{
    display: flex;
    list-style: none;
}
.credits-wrapper{
   
    color: #fff;
    font-size: small;
    text-align: center;
  
}
.inbox{
    text-align: right;
}
.footer-logo-image{
    filter: invert(100%) contrast(10);
    padding: 0.5rem 0rem;
  
    
    
   
    

}

.icon i{
    color:black;
    font-size: 20px;
    cursor: pointer;
}
#click{
    display: none;
}









/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

   
    .footer .small-image{
        display: block;
    }
    .footer .logo-image{
        display: none;
    }
    .social-links{
        text-align: center;
    }
    .nav-links{
        padding: 3rem 2.5rem;
    }
    .footer-inbox{
        display: none;
    }
    .footer-logo-image{
        display: block;
       
        margin: 0 auto;
    }
    .credits-wrapper-2{
        display: block;
    }
    .header .get-started{
        display: none;
    }
    .icon{
        display:block;
    }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .footer .small-image{
        display: block;
    }
    .footer .logo-image{
        display: none;
    }
    .social-links{
        text-align: center;
    }
    .nav-links{
        padding: 3rem 2.5rem;
    }
    .footer-inbox{
        display: none;
    }
    .footer-logo-image{
        display: block;
       
        margin: 0 auto;
    }
    .credits-wrapper-2{
        display: block;
    }
    .header .get-started{
        display: none;
    }
    .icon{
        display:block;
    }
 


}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .footer .small-image{
        display: none;
    }

    .footer .logo-image{
        display: block;
    }
    .social-links{
        text-align: left;
    }
    .nav-links{
        padding: 0rem 0rem;
    }
    .footer-inbox{
        display: block;
    }
    .footer-logo-image{
        display: none;
    }
    .credits-wrapper-2{
        display: none;
    }
    .header .get-started{
        display: none;
    }
    .icon{
        display:block;
    }
  
 
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .footer .small-image{
        display: none;
    }

    .footer .logo-image{
        display: block;
    }
    .social-links{
        text-align: left;
    }
    .nav-links{
        padding: 0rem 0rem;
    }
    .footer-inbox{
        display: block;
    }
    .footer-logo-image{
        display: none;
    }
    .credits-wrapper-2{
        display: none;
    }
    .header .get-started{
        display: block;
    }
    .icon{
        display: none;
    }
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .footer .small-image{
        display: none;
    }
    .footer .logo-image{
        display: block;
    }

    .social-links{
        text-align: left;
    }
    .nav-links{
        padding: 0rem 0rem;
    }
    .footer-inbox{
        display: block;
    }
    .footer-logo-image{
        display: none;
    }
   
    .credits-wrapper-2{
        display: none;
    }
    .header .get-started{
        display: block;
    }
    .icon{
        display: none;
    }
    
  
}

@media (max-width:992px){

    #click:checked ~ label i:before {
        content: "\f00d";
    }

    .links ul{
        position: absolute;
       
        text-align: center;
        left: -100%;
    
      
        
        background: #fff;
        height: 50vh;
        top: 80px;
        width: 100%;
    
       
        display: block;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;
    }
    .links ul li{
        margin: 25px 0;
    }
    #click:checked ~ ul {
    left: 0%;
    }
   
}
@media (max-width:575px){
    .nav-links{
        text-align: center;
    }

}
